@styleguide_themeColor_1: @themeColor_1;
//@styleguide_themeColor_1: #4285f4;
@styleguide_themeColor_2: @themeColor_2;
//@styleguide_themeColor_2: darken(@styleguide_themeColor_1, 20%);
@styleguide_BG: #eee;


@styleguide_header_h: 48px;
